@{
    ViewBag.Title = "display";
}
<head>
    <title>flight Position</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>
    <canvas id="flightPos" width="20" height="20" style="position:absolute;left:20%;top:20%;"></canvas>
    @{
        double LocX = (@ViewBag.Lat + 90) / 100.0;
        double LocY = (@ViewBag.Lon + 180) / 360.0;
    }

    <script>
        var c = document.getElementById("flightPos");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(10, 10, 5, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.fillStyle = "Red";
        ctx.fill();
        canvas.style.left =@LocX* 100 + "%";
        canvas.style.top =@LocY* 100 + "%";
        ctx.closePath();
    </script>
</body>

