body {
    /* The image used */
    background-image: url(../../Content/earth.png);
    /* Full height and width */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
